.ss1 {
  background-image: url("/images/SS1.jpg") !important;
}

.ss2 {
  background-image: url("/images/SS2.jpg") !important;
}

.ss3 {
  background-image: url("/images/SS3.jpg") !important;
}

.ss4 {
  background-image: url("/images/SS4.jpg") !important;
}

.ss5 {
  background-image: url("/images/SS5.jpg") !important;
}

.full-width {
  width: 100% !important;
}

.event-speakers .speaker {
  max-width: 100%;
  margin-bottom: 5em;
}

.event-speakers .col-md-4 {
  padding-left: 0px;
}

.event-schedule .event-speakers {
  margin-top: 0px;
}

.event-speakers .title {
  font-size: 19px;
  color: #3746a3;
  padding: 12px 15px 7px;
}

.event-speakers i {
  padding-right: 10px;
}

.event-speakers .presenter-name {
  font-size: 16px;
  color: #3746a3;
  padding: 12px 15px 7px;
}

.event-speakers .time {
  font-size: 16px;
  color: #3746a3;
  padding: 12px 15px 7px;
}

.event-intro .event-title::after {
  width: 100%;
  margin-left: 0;
}
