.ss1 {
  background-image: url("/images/SS1.jpg") !important;
}

.ss2 {
  background-image: url("/images/SS2.jpg") !important;
}

.ss3 {
  background-image: url("/images/SS3.jpg") !important;
}

.ss4 {
  background-image: url("/images/SS4.jpg") !important;
}

.ss5 {
  background-image: url("/images/SS5.jpg") !important;
}

.full-width {
  width: 100% !important;
}

.event-speakers .speaker {
  max-width: 100%;
  margin-bottom: 5em;
}

.event-speakers .col-md-4 {
  padding-left: 0px;
}