<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <div class="event-hero ss5">
    <div class="container">
      <h2 class="customFadeInUp">
        "the law of the strong: this is our law and the joy of the world." - <i>AL. II. 21</i>
      </h2>
    </div>
    <div class="tickets container">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="m-md-0">
          August 13th - 18th
        </p>
        <a href="#" class="btn-get-tickets">
          Get tickets
        </a>
        <p class="m-0">
          Center Harbor, New Hampshire
        </p>
      </div>
    </div>
  </div>

  <div class="event-schedule">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Event schedule</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Friday, June 13th</p>
          <div class="activity">
            <span class="time">8:00 am</span>
            <span class="title">Breakfast</span>
          </div>
          <div class="activity">
            <span class="time">9:00 am</span>
            <span class="title">Welcome</span>
          </div>
          <div class="activity">
            <span class="time">10:00 am</span>
            <span class="title">John Smith</span>
          </div>
          <div class="activity">
            <span class="time">11:00 am</span>
            <span class="title">Lisa Simpson</span>
          </div>
          <div class="activity">
            <span class="time">12:00 pm</span>
            <span class="title">Lunch break</span>
          </div>
          <div class="activity">
            <span class="time">02:00 pm</span>
            <span class="title">Jessica Lawrence</span>
          </div>
          <div class="activity">
            <span class="time">03:00 pm</span>
            <span class="title">Ernest Hemingway</span>
          </div>
          <div class="activity">
            <span class="time">04:00 pm</span>
            <span class="title">Jim Morrison</span>
          </div>
          <div class="activity">
            <span class="time">05:00 pm</span>
            <span class="title">Phillip Christopher</span>
          </div>
          <div class="activity">
            <span class="time">08:00 pm</span>
            <span class="title">Hangout</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Saturday, June 14th</p>
          <div class="activity">
            <span class="time">8:00 am</span>
            <span class="title">Breakfast</span>
          </div>
          <div class="activity">
            <span class="time">9:00 am</span>
            <span class="title">Welcome</span>
          </div>
          <div class="activity">
            <span class="time">10:00 am</span>
            <span class="title">Jessica Lawrence</span>
          </div>
          <div class="activity">
            <span class="time">11:00 am</span>
            <span class="title">Jim Morrison</span>
          </div>
          <div class="activity">
            <span class="time">12:00 pm</span>
            <span class="title">Lunch break</span>
          </div>
          <div class="activity">
            <span class="time">02:00 pm</span>
            <span class="title">John Smith</span>
          </div>
          <div class="activity">
            <span class="time">03:00 pm</span>
            <span class="title">Ernest Hemingway</span>
          </div>
          <div class="activity">
            <span class="time">04:00 pm</span>
            <span class="title">Phillip Christopher</span>
          </div>
          <div class="activity">
            <span class="time">05:00 pm</span>
            <span class="title">Lisa Simpson</span>
          </div>
          <div class="activity">
            <span class="time">08:00 pm</span>
            <span class="title">Hangout</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Sunday, June 15th</p>
          <div class="activity">
            <span class="time">8:00 am</span>
            <span class="title">Breakfast</span>
          </div>
          <div class="activity">
            <span class="time">9:00 am</span>
            <span class="title">Welcome</span>
          </div>
          <div class="activity">
            <span class="time">10:00 am</span>
            <span class="title">Jessica Lawrence</span>
          </div>
          <div class="activity">
            <span class="time">11:00 am</span>
            <span class="title">Jim Morrison</span>
          </div>
          <div class="activity">
            <span class="time">12:00 pm</span>
            <span class="title">Lunch break</span>
          </div>
          <div class="activity">
            <span class="time">02:00 pm</span>
            <span class="title">John Smith</span>
          </div>
          <div class="activity">
            <span class="time">03:00 pm</span>
            <span class="title">Ernest Hemingway</span>
          </div>
          <div class="activity">
            <span class="time">04:00 pm</span>
            <span class="title">John Petrucci</span>
          </div>
          <div class="activity">
            <span class="time">05:00 pm</span>
            <span class="title">Ending keynote</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
