<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <div class="event-hero ss5">
    <div class="container">
      <h2 class="customFadeInUp">
        "the law of the strong: this is our law and the joy of the world." - <i>AL. II. 21</i>
      </h2>
    </div>
    <div class="tickets container">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="m-md-0">
          June 13th - 18th
        </p>
        <a href="#" class="btn-get-tickets">
          Get tickets
        </a>
        <p class="m-0">
          Center Harbor, New Hampshire
        </p>
      </div>
    </div>
  </div>

  <div class="event-speakers">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Speakers</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="speaker" data-scroll>
            <img src="images/speakers/1.jpg" class="img-fluid">
            <div class="speaker-name">Karen Stuart</div>
            <div class="speaker-role">Web designer</div>
            <div class="speaker-company">Dropbox</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="speaker mt-half" data-scroll>
            <img src="images/speakers/2.jpg" class="img-fluid">
            <div class="speaker-name">John Smith</div>
            <div class="speaker-role">iOS Engineer</div>
            <div class="speaker-company">Microsoft</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="speaker mt-full" data-scroll>
            <img src="images/speakers/3.jpg" class="img-fluid">
            <div class="speaker-name">Lisa Simpson</div>
            <div class="speaker-role">Illustrator</div>
            <div class="speaker-company">Metalab</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="speaker" data-scroll>
            <img src="images/speakers/4.jpg" class="img-fluid">
            <div class="speaker-name">Jessica Lawrence</div>
            <div class="speaker-role">Entrepreneur</div>
            <div class="speaker-company">Freelancer</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="speaker mt-half" data-scroll>
            <img src="images/speakers/5.jpg" class="img-fluid">
            <div class="speaker-name">Ernest Hemingway</div>
            <div class="speaker-role">Designer</div>
            <div class="speaker-company">Instagram</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="speaker mt-full" data-scroll>
            <img src="images/speakers/6.jpg" class="img-fluid">
            <div class="speaker-name">Jim Morrison</div>
            <div class="speaker-role">Product Designer</div>
            <div class="speaker-company">Facebook</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="speaker" data-scroll>
            <img src="images/speakers/7.jpg" class="img-fluid">
            <div class="speaker-name">Phillip Christopher</div>
            <div class="speaker-role">Backend developer</div>
            <div class="speaker-company">Apple</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="speaker mt-half" data-scroll>
            <img src="images/speakers/8.jpg" class="img-fluid">
            <div class="speaker-name">Maria Sharapova</div>
            <div class="speaker-role">Android Engineer</div>
            <div class="speaker-company">Basecamp</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="speaker mt-full" data-scroll>
            <img src="images/speakers/9.jpg" class="img-fluid">
            <div class="speaker-name">Ana Williams</div>
            <div class="speaker-role">Illustrator</div>
            <div class="speaker-company">Heroku</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
