<div class="event-hero ss1">
  <div class="container">
    <h2 class="customFadeInUp">
      "the law of the strong: this is our law and the joy of the world." - <i>AL. II. 21</i>
    </h2>
  </div>
  <div class="tickets container">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <p class="m-md-0">
        August 10th - 12th
      </p>
      <a href="/register" class="btn-get-tickets">
        Get tickets
      </a>
      <p class="m-0">
        Center Harbor, New Hampshire
      </p>
    </div>
  </div>
</div>
