<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title">
          About
        </div>
        <ul class="menu">
          <li>
            <a href="http://knightstemplar-oto.org/about">Knights Templar Oasis</a>
          </li>
          <li>
            <a href="https://starandsnake.wordpress.com/about">Star &amp Snake</a>
          </li>
          <li>
            <a href="https://oto-usa.org/">Ordo Templi Orientis (O.T.O.)</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="title">
          Connect with us
        </div>
        <ul class="menu">
          <!--<li>
            <a href="#">
              <i class="fa fa-instagram"></i>
              Instagram
            </a>
          </li>-->
          <li>
            <a href="https://www.facebook.com/KnightsTemplarOasis/">
              <i class="fa fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://twitter.com/KT_OTO">
              <i class="fa fa-twitter"></i>
              Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <ul>
        <li class="text-white text-muted">This is a <a href="https://www.418studios.org">418 Studios</a> Project</li>
      </ul>
    </div>
  </div>
</footer>

<script type="text/javascript">
  $(function () {
    var trigger = new ScrollTrigger({
      toggle: {
        visible: 'customFadeInUp'
      },
      offset: {
        y: 150
      },
      once: true
    });
  })
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115132504-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115132504-1');
</script>
