<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <% include banner %>

  <div class="event-intro">
    <div class="container no-override center">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="full-width">Aleister Crowley wrote Liber Oz in 1941 stating the “rights of man is a historical document”. Crowley set forth to accomplish,
            in the simplest terms possible, a statement of the natural rights of human kind. The Law is for All. To exercise these rights is essential in the
            quest to discover one’s true Will. Liber Oz Fest is a celebration of the rights and privileges of all free men and women.
            Fights for your rights and for the rights of all.</p>
        <p class="full-width">Click <a href="https://hermetic.com/sabazius/ozgloss">here</a> to read more about Liber Oz and comments on it from the United States O.T.O Grand Master Sabazius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><img src="images/liberoz.jpg" class="img-fluid center"></div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
