<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <% include banner %>

  <div class="event-intro">
    <div class="container no-override center">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="full-width">Aleister Crowley wrote Liber Oz in 1941 stating the “rights of man is a historical document”. Crowley set forth to accomplish,
            in the simplest terms possible, a statement of the natural rights of human kind. The Law is for All. To exercise these rights is essential in the
            quest to discover one’s true Will. Liber Oz Fest is a celebration of the rights and privileges of all free men and women.
            Fights for your rights and for the rights of all.</p>
        <p class="full-width">Click <a href="https://hermetic.com/sabazius/ozgloss">here</a> to read more about Liber Oz and comments on it from the United States O.T.O Grand Master Sabazius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><img src="images/liberoz.jpg" class="img-fluid center"></div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="event-title d-inline-block">History</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="full-width"><em>A History of Liber Oz Fest at Knights Templar Oasis as given from various Knights Templar Oasis members and archives.
          Some information may not be completely accurate, please excuse any variations.</em></p>
          <p class="full-width">The first Liber Oz Fest at Knights Templar Oasis was in 2000, and about 12 people attended.
          The original inspiration by the architect of the event was his devotion to Pan and Liber Oz as well as an Oasis camping trip earlier that same year which proved to be a wild success.
          The first event was held on a wooded property in Western Massachusetts where everyone camped out and performed multiple rituals around a blazing fire, invoking Pan, like some scene
          from Faust. An interesting note, this festival was referred to as Oz Fest, and as it turns out the original creator didn’t realize that name was being used already.
          Or course, we can’t prove who discovered it first!!! According to schedules from past Liber Oz Fest’s found in the KTO archives, these events included such things as
          <em>Come as Your Favorite Deity Costume/Cocktail Party</em>, <em>Rite of Mercury</em>, <em>Fire Circle</em>, and even a <em>Puppet Show</em></p>
          <p class="full-width">One year the theme was Babalon and the Beast Whereon She Rideth, another Nuit and the first Pan and Lilith. This event has usually included a Minerval initiation, at least one Gnostic Mass
          (I’ve been told at one event an impromptu Mass was performed in the middle of the night), and a grand feast.</p>
          <p class="full-width">This festival was manifested to give Thelemites the opportunity to celebrate and explore their Freedom and Will, in 2018 we affirm that this original vision is identical.
          Knights Templar Oasis hasn’t hosted a Liber Oz Fest in a handful of years. On the 18th anniversary of this event, we will take the original intention and magick from
          events past and integrate them into this event. We start by initiating candidates into our Holy Order. Then we will learn from our Brothers and Sisters, enjoy some performances,
          a Gnostic Mass, and celebrate with food and drink. See you there!!</p>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
