<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <% include banner %>

  <div class="event-location">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Location</h1>
          <p>Liber Oz Fest will be held at the <a href="https://starandsnake.wordpress.com/">Star &amp; Snake</a> artist residency and retreat.
            There are limited spaces to camp on the property. Please reserve early with your registration fee.
            Camping spaces will be marked and presented upon your arrival to the event.</p>
            <strong><p>Inside sleeping spaces have already been pre-arranged and determined by Coordinators. For alternative locations please see below.</p>
            <p>Parking will be available and coordinated on arrival.</p></strong>
          </p>
        </div>
      </div>
      <div class="row no-gutters address-container">
        <div class="col-md-4 address">
          <h5>Address</h5>
          <p class="mt-4">
            Star &amp; Snake
          </p>
          <p>
            41 Kelsea Ave, Center Harbor, NH 03226
          </p>
          <p>
            <i class="ion-android-call"></i>
            +1 (978) 414-5622
          <p>
            <i class="ion-ios-email-outline"></i>
            <a href="mailto:StarandSnakeNH@yahoo.com">StarandSnakeNH@yahoo.com</a>
          </p>
          <a class="social-link" href="https://www.instagram.com/starandsnake/">
            <i class="ion-social-instagram"></i>
          </a>
          <a class="social-link" href="https://www.facebook.com/Star-Snake-294740137344875/">
            <i class="ion-social-facebook"></i>
          </a>
        </div>
        <div class="col-md-8">
          <div id="map"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Alternative Locations</h1>
          <p>Below are hotels near the location if you prefer to not camp. Please feel free to make your own arrangements.</p>
          <ul class="list-unstyled">
            <li><a href="https://centerharborinn.com/?NCK=8554412374">Center Harbor Inn</a></li>
            <li><a href="http://www.sutton-house.com/">Sutton House</a></li>
            <li><a href="http://www.lodgingnh.com/">Lodging NH</a></li>
            <li><a href="https://www.millfalls.com/">Mill Falls</a></li>
            <li><a href="http://www.ballardhouseinn.com/">Ballard House Inn</a></li>
            <li><a href="http://thetuckernuckinn.com/">The Tuckernuck Inn</a></li>
            <li><a href="https://www.nutmeginn-nh.com/">Nutmeg Inn</a></li>
            <li><a href="https://beartreelodge.com/">Bear Tree Lodge</a></li>
          </ul>
          <p><a href="https://www.airbnb.com/s/Center-Harbor--NH--United-States/homes?checkin=&checkout=&adults=1&children=0&infants=0&source=mc_search_bar&allow_override%5B%5D=&refinement_paths%5B%5D=%2Fhomes&query=Center%20Harbor%2C%20NH%2C%20United%20States&place_id=ChIJJ03WSU9Bs0wRlBQpfbuaiHU&s_tag=4cdKAgA9">Airbnb</a> is also an option.</p>
        </div>
    </div>
  </div>

  <% include footer %>

  <script type="text/javascript">
    $(function () {
      var trigger = new ScrollTrigger({
        toggle: {
          visible: 'customFadeInUp'
        },
        offset: {
          y: 150
        },
        once: true
      });

      // Google maps
      var mapLocation = new google.maps.LatLng(43.7123469,  -71.4659139);

      var map = new GMaps({
        streetViewControl : false,
        overviewMapControl: false,
        mapTypeControl: false,
        panControl : false,
        scrollwheel: false,
        center: mapLocation,
        el: '#map',
        zoom: 15,
        styles: [
        {
          "featureType":"landscape",
          "stylers":[
          {"saturation":-100},
          {"lightness":65},
          {"visibility":"on"}
          ]
        },
        {
          "featureType":"poi",
          "stylers":[
          {"saturation":-100},
          {"lightness":51},
          {"visibility":"simplified"}
          ]
        },
        {
          "featureType":"road.highway",
          "stylers":[
          {"saturation":-100},
          {"visibility":"simplified"}
          ]
        },
        {
          "featureType":"road.arterial",
          "stylers":[
          {"saturation":-100},
          {"lightness":30},
          {"visibility":"on"}
          ]
        },
        {
          "featureType":"road.local",
          "stylers":[
          {"saturation":-100},
          {"lightness":40},
          {"visibility":"on"}
          ]
        },
        {
          "featureType":"transit",
          "stylers":[
          {"saturation":-100},
          {"visibility":"simplified"}
          ]
        },
        {
          "featureType":"administrative.province",
          "stylers":[
          {"visibility":"off"}
          ]
        },
        {
          "featureType":"water",
          "elementType":"labels",
          "stylers":[
          {"visibility":"on"},
          {"lightness":-25},
          {"saturation":-100}
          ]
        }
        ]
      });

      map.addMarker({
        position: mapLocation,
        icon: 'images/icons/map-icon.png'
      });
    })
  </script>

</body>
</html>
