<!doctype html>
<html class="no-js" lang="">
<head>
<% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <div class="event-hero ss1">
    <div class="container">
      <h2 class="customFadeInUp">
        "the law of the strong: this is our law and the joy of the world." - <i>AL. II. 21</i>
      </h2>
    </div>
  </div>

  <div class="event-tickets">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Registration</h1>
          <p>Registering for Liber Oz Fest is a two step process, so please read carefully.</p>
          <p>Liber Oz Fest is split into two separate events. Friday night will be a <a href="https://oto-usa.org/oto/initiation/">Minerval initiations</a> and is not part of the weekend events.
            Friday night is open to Minerval candidates and dues current members of <a href="https://oto-usa.org">O.T.O.</a> <strong>ONLY</strong>, and is not part of the registration fee.</p>
          <p>If you are only coming Friday night for initiations, please complete the registration form and let us know.</p>
          <p><em>Registration includes meals on Saturday and Sunday. Minerval feast will be provided by attendees as is tradition. We will send sign up before the event.</em></p>
          <ol>
            <li>After reading these instructions, click the below registration button to start the registration process.</li>
            <li>Once the form has been completed, a payment of $93 needs to be sent to liberozfest@knightstemplar-oto.org via PayPal.</li>
          </ol>
          <p>After completing the registration form, you will receive a confirmation email within 24 hours.</p>
          <p>If you have any questions please contact <a href="mailto:master@knightstemplar-oto.org">master@knightstemplar-oto.org</a>.</p>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf305q2An_DdfjgE-_eSsQuTvkeVBV_JoZ-SzSfjvttGu6Hgw/viewform?c=0&w=1&usp=mail_form_link" class="btn btn-success btn-lg">Register</a>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
