<!doctype html>
<html class="no-js" lang="">
<head>
<% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <div class="event-hero ss1">
    <div class="container">
      <h2 class="customFadeInUp">
        "the law of the strong: this is our law and the joy of the world." - <i>AL. II. 21</i>
      </h2>
    </div>
  </div>

  <div class="event-tickets">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Ticket information is coming soon</h1>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
