<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <% include banner %>

  <div class="event-schedule">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Event schedule</h1>
          <p><em>Schedule is subject to change.</em></p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Friday, August 10</h1>
        </div>
      </div>

      <div class="event-speakers">
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Liber OZ Fest Team Arrival and Set-up</div>
            <div class="time"><i class="fa fa-clock-o">12:00pm</i> <i class="fa fa-map-marker">Venue Grounds</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Welcome to Oz Fest Meet and Greet</div>
            <div class="time"><i class="fa fa-clock-o">2:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Minerval Preparations (O.T.O Initiates Only)</div>
            <div class="time"><i class="fa fa-clock-o">2:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Minerval Inititations</div>
            <div class="time"><i class="fa fa-clock-o">9:00pm - 12:00am</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>Minerval Initiations are open to initiates only. Candidates for initation will receive further instructions via email.</p></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Saturday, August 11</h1>
        </div>
      </div>

      <div class="event-speakers">
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Breakfast</div>
            <div class="presenter-name">Provided by Knights Templar Oasis</div>
            <div class="time"><i class="fa fa-clock-o">9:00am - 10:00am</i> <i class="fa fa-map-marker">Nymph Garden</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Opening Ceremony</div>
            <div class="presenter-name">Performed by Knights Templar Oasis</div>
            <div class="time"><i class="fa fa-clock-o">10:00am - 10:30am</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Grand Bazaar</div>
            <div class="time"><i class="fa fa-clock-o">10:30am - 12:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>Thelemic art, books, jewels, and other sundry items (Bring Cash).</p></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Man has the right to live by his own law...</div>
            <div class="presenter-name">Jean Michel Cholette</div>
            <div class="time"><i class="fa fa-clock-o">10:30am - 12:00pm</i> <i class="fa fa-map-marker">Nymph Garden</i></div>
            <div class="speaker-role"><p>Workshop: Meditation and vibrational chanting, inspired by Tuvan polyphonic throat singing. All who attend will be encouraged to sing along or contemplate in silence and complete freedom. The polyphonic chant produces simultaneous sound frequencies, allowing to focus the mind in a common group inner flight.</p></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Oz Origins</div>
            <div class="presenter-name">Richard Kaczynski</div>
            <div class="time"><i class="fa fa-clock-o">12:00pm - 1:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>Oz Origins tells the story of the creation and publication of Liber Oz, through passages from Aleister Crowley’s diaries and letters exchanged with people in his inner circle, who had extremely mixed reactions to the document. What were Crowley’s magical considerations around its publication? What did the different editions of Liber Oz in Crowley’s lifetime look like? Who did Crowley send them to? And why?<p></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Lunch</div>
            <div class="presenter-name">Provided by Knights Templar Oasis</div>
            <div class="time"><i class="fa fa-clock-o">1:00pm - 2:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Art is Magick</div>
            <div class="presenter-name">Natan Alexander</div>
            <div class="time"><i class="fa fa-clock-o">2:00pm - 3:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>In this discuss we will touch upon the ways in which artistic practice may be consider magickal practice. It is my deeply held belief that all humans are artists and that the knowledge and conversation of our HGA is also the most intimate love affair with our greatest muse. With an alchemical description of the secret cipher of the art card, included for your consideration, we will discuss the rights of Man to create art as he will."</p></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Babalon in the Age of #MeToo</div>
            <div class="presenter-name">Mary Widow</div>
            <div class="time"><i class="fa fa-clock-o">3:00pm - 4:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>Man has the right to live by his own law. Man has the right to think, dress speak and love as he will. We see the use of “Man” in those words, and understand grammatically that Women are included in it, but, historically, socially and culturally, these are the exact topics women are consistently persecuted, shamed and violated for. This lecture will highlight the way that we may learn from history, move into the future, and do better by our Sisters. How to honor Babalon in every women and support “the women girt with the sword” as she shapes the future of the world.</p></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Shame and Sex Magick</div>
            <div class="presenter-name">Soror Ouroboros</div>
            <div class="time"><i class="fa fa-clock-o">4:00pm - 5:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>This class isn’t here to teach you how to have shame or how to do sex magick,
              instead it focuses more on how to incorporate doing magick and sex magick when there may be elements of shame within ourselves.
              While the O.T.O may be a sex-positive culture, we happen to live in a culture that can be extremely sex-negative.
              As a result of living in a sex-negative culture, many people deal with elements of shame related to sex and sexuality.
              This workshop focuses on how to begin to work on shedding shame with yourself.
              When in an Order with some sexual elements and a level of sexual freedom, issues can arise, especially if shame is
              carried over from childhood. Liber Oz declares, <em>"take your fill and will of love as ye will, when, where, and with whom ye will."</em>
              In today's world, in which an immense amount of people are fighting with the shame of their sexuality,
              how can we as Thelemites address that shame in order to incorporate these rights into our sex magick practices?</p></div>
          </div>
        </div>

        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Dinner</div>
            <div class="presenter-name">Provided by Knights Templar Oasis</div>
            <div class="time"><i class="fa fa-clock-o">5:00pm - 6:30pm</i> <i class="fa fa-map-marker">Nymph Garden</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Holy: A Performance Art Working</div>
            <div class="presenter-name">Halo Ray and Mary Widow (Music credit: Zolita)</div>
            <div class="time"><i class="fa fa-clock-o">6:30pm - 7:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><em><p>"Freedom is a two-edged sword of which one edge is liberty and the other, responsibility. Both edges are exceedingly sharp and the weapon is not suited to casual, cowardly or treacherous hands."</em>- Frater Belarion</p>
              <p>In proclaiming our inherent rights as individual Stars in the body of Nuit, Liber Oz also silently implies the price which must be paid in order to secure and protect true freedom: The responsibility of undertaking the Great Work. We are all ultimately to be held responsible for attaining our own liberation, and it will not be achieved easily. Through original poetry and dance, this work of performance art portrays the aspirant's lustful yet perilous journey toward the ultimate liberation.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Break</div>
            <div class="time"><i class="fa fa-clock-o">7:00pm - 7:30pm</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Lon Milo DuQuette</div>
            <div class="time"><i class="fa fa-clock-o">7:30pm - 8:30pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Party</div>
            <div class="time"><i class="fa fa-clock-o">8:30pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Sunday, August 12</h1>
        </div>
      </div>

      <div class="event-speakers">
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Breakfast</div>
            <div class="presenter-name">Provided by Knights Templar Oasis</div>
            <div class="time"><i class="fa fa-clock-o">8:00am - 10:00am</i> <i class="fa fa-map-marker">Nymph Garden</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Using Force in the Name of Freedom</div>
            <div class="presenter-name">Frater xvarnah-Asterion</div>
            <div class="time"><i class="fa fa-clock-o">10:00am - 11:00am</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>Armed rebellions have killed individuals in the name of liberty – however, liberty can be understood in two competing ways.  Does Liber Oz only advocate a right to kill to defend one’s “negative liberty” (freedom from external restraint), or does it announce a right to create “positive liberty” (freedom to conditions to exercise self-sufficiency and achieve ideals).  From Jacobins using the well-intentioned ideas of French philosophes of the Enlightenment, to modern armed conflicts in Southeast Asia using Marxist Ideology, we will explore how different groups have exercised a right to kill in order to force people to be free.  This lecture will argue that Liber Oz’s fifth enumerated right to kill (and its “decorative elements” of Liber AL quotations), do not extend to a reorganizing of society, but instead rally us around the individual and the particular, over the universal and abstract.</p></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Liber XV: Gnostic Mass</div>
            <div class="presenter-name">Performed by Knights Templar Oasis</div>
            <div class="time"><i class="fa fa-clock-o">11:30am - 1:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Lunch</div>
            <div class="presenter-name">Provided by Knights Templar Oasis</div>
            <div class="time"><i class="fa fa-clock-o">1:00pm - 2:00pm</i> <i class="fa fa-map-marker">Nymph Garden</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Do Not Go Gentle: Eugenics, Euthanasia, &amp; Liber OZ</div>
            <div class="presenter-name">N.D.N.S.N</div>
            <div class="time"><i class="fa fa-clock-o">2:00pm - 3:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>In this session, we will example the policy and practical ramifications of euthanasia and from a Thelemic viewpoint, especially how policies that appear to enable free will fail to function in a society that creates restrictions on choice. We will explore the history of eugenics in the West, up to the present, and how euthanasia operates in the US and abroad, in ways that defy the spirit of Liber OZ. In the words of disability activist Harriet McBryde Johnson, if “choice is illusory in a context of pervasive inequality,” then how to fulfil Liber OZ in a non-Thelemic society?</p></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Chokmah Days: Aleister Crowley, True Will, and the Wilds of New Hampshire</div>
            <div class="presenter-name">Colin Campbell</div>
            <div class="time"><i class="fa fa-clock-o">3:00pm - 4:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
            <div class="speaker-role"><p>Did you know that Aleister Crowley spent four months in Bristol, New Hampshire, in the summer of 1916, just twenty miles away from this event? This presentation will cover some of the history surrounding that time, what brought him here, and more importantly focus on what he was doing here as he sought to fully integrate the Grade of Magus and personally identify himself with the Logos of the Aeon. Described in his Confessions, as well as in other works of greater scarcity, Crowley would undergo a number of magical experiments, and ultimately re-dedicate himself to his True Will.</p></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Break</div>
            <div class="time"><i class="fa fa-clock-o">4:00pm - 4:30pm</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Panel Discussion and Q&amp;A</div>
            <div class="presenter-name">Lon Milo DuQuette, Richard Kaczynski, and Colin Campbell</div>
            <div class="time"><i class="fa fa-clock-o">4:30pm - 6:00pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
        <div class="row justify-content-center speaker">
          <div class="col-lg-12">
            <div class="title">Closing Ceremony</div>
            <div class="time"><i class="fa fa-clock-o">6:00pm - 6:30pm</i> <i class="fa fa-map-marker">Main Hall</i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
