<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <div class="event-hero ss5">
    <div class="container">
      <h2 class="customFadeInUp">
        "the law of the strong: this is our law and the joy of the world." - <i>AL. II. 21</i>
      </h2>
    </div>
    <div class="tickets container">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="m-md-0">
          August 13th - 18th
        </p>
        <a href="#" class="btn-get-tickets">
          Get tickets
        </a>
        <p class="m-0">
          Center Harbor, New Hampshire
        </p>
      </div>
    </div>
  </div>

  <div class="event-schedule">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Event schedule</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Friday, August 10th</p>
          <div class="activity">
            <span class="time">12:00 pm</span>
            <span class="title">Guest Arrival / Meet and Greet</span>
          </div>
          <div class="activity">
            <span class="time">6:00 pm</span>
            <span class="title">Minerval Prep (Initiates Only)</span>
          </div>
          <div class="activity">
            <span class="time">8:00 pm</span>
            <span class="title">Candidate Arrival</span>
          </div>
          <div class="activity">
            <span class="time">9:00 pm</span>
            <span class="title">Minerval Initiation</span>
          </div>
          <div class="activity">
            <span class="time">12:00 am</span>
            <span class="title">Minerval Feast</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Saturday, August 11th</p>
          <div class="activity">
            <span class="time">8:00 am</span>
            <span class="title">Workshop - Nymph Garden</span>
          </div>
          <div class="activity">
            <span class="time">9:00 am</span>
            <span class="title">Breakfast</span>
          </div>
          <div class="activity">
            <span class="time">10:00 am</span>
            <span class="title">Opening Ceremony</span>
          </div>
          <div class="activity">
            <span class="time">11:00 am</span>
            <span class="title">Workshop - Nymph Garden</span>
          </div>
          <div class="activity">
            <span class="time">12:00 pm</span>
            <span class="title">Presentation: Main Hall</span>
          </div>
          <div class="activity">
            <span class="time">01:00 pm</span>
            <span class="title">Presentation: Main Hall</span>
          </div>
          <div class="activity">
            <span class="time">02:00 pm</span>
            <span class="title">Lunch</span>
          </div>
          <div class="activity">
            <span class="time">03:00 pm</span>
            <span class="title">Presentation: Main Hall</span>
          </div>
          <div class="activity">
            <span class="time">04:00 pm</span>
            <span class="title">Workshop - Loft</span>
          </div>
          <div class="activity">
            <span class="time">04:00 pm</span>
            <span class="title">Workshop - Nymph Garden</span>
          </div>
          <div class="activity">
            <span class="time">05:00 pm</span>
            <span class="title">Presentation: Main Hall</span>
          </div>
          <div class="activity">
            <span class="time">06:00 pm</span>
            <span class="title">Dinner</span>
          </div>
          <div class="activity">
            <span class="time">07:00 pm</span>
            <span class="title">Performance</span>
          </div>
          <div class="activity">
            <span class="time">07:30 pm</span>
            <span class="title">Performance</span>
          </div>
          <div class="activity">
            <span class="time">08:00 pm</span>
            <span class="title">Performance</span>
          </div>
          <div class="activity">
            <span class="time">09:30 pm</span>
            <span class="title">Party</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <p class="date-tab">Sunday, August 12th</p>
          <div class="activity">
            <span class="time">10:00 am</span>
            <span class="title">Breakfast</span>
          </div>
          <div class="activity">
            <span class="time">12:00 pm</span>
            <span class="title">Gnostic Mass</span>
          </div>
          <div class="activity">
            <span class="time">02:00 pm</span>
            <span class="title">Presentation</span>
          </div>
          <div class="activity">
            <span class="time">03:00 pm</span>
            <span class="title">Presentation</span>
          </div>
          <div class="activity">
            <span class="time">04:00 pm</span>
            <span class="title">Panel Q&A</span>
          </div>
          <div class="activity">
            <span class="time">05:30 pm</span>
            <span class="title">Closing Ceremony</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
