<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <% include banner %>

  <div class="event-speakers">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Speakers</h1>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/lon.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Lon Milo DuQuette</div>
              <div class="speaker-role">Born in Long Beach, California and raised in Columbus, Nebraska, Lon was an aspiring studio musician and recording artist in the 1970s, releasing two singles and an album, Charley D. and Milo, on Epic Records. He and his partner Charles Dennis Harris (now Charley Packard), opened for Hoyt Axton, Arlo Guthrie and performed with Sammy Davis Jr. In 1972, he quit the music business and for the next 25 years he pursued his interest in mysticism, particularly the work of Aleister Crowley (1875–1947). DuQuette began writing professionally in 1988 and has since published 16 books (translated in 12 languages). A 2005 gift of a ukelele re-ignited his interest in music. Two self released CD's and a new record contract followed. In 2012, Duquette released I'm Baba Lon on Ninety Three Records, his first studio album in 40 years. He is married to his high school sweetheart, Constance Jean Duquette. They live in Costa Mesa, California and have one son, Jean-Paul.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/richard.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Richard Kaczynski</div>
              <div class="speaker-role">Richard Kaczynski is the author <em>Perdurabo: The Life of Aleister Crowley (2010)</em>, which the Times Literary Supplement deemed “the major biography to date” of the Beast. He has also written
                <em>Forgotten Templars: The Untold Origins of Ordo Templi Orientis</em> (2012), <em>The Weiser Concise Guide to Aleister Crowley</em> (2009), and the novel <em>The Billionth Monkey</em> (2015), among others.
                His writing has also appeared in anthologies such as <em>Success Is Your Proof</em> (2016), <em>Tarot in Culture</em> (2014), <em>Aleister Crowley and Western Esotericism</em> (2012), and <em>Mathematics in Popular Culture</em> (2012),
                Since 1990, he has lectured internationally on these and other topics and has been featured in the television documentaries Secrets of the Occult (2006) and Aleister Crowley: The Beast 666 (2007).
                He edits and typesets the proceedings books for the National O.T.O. Conference, is secretary of Academia Ordo Templi Orientis, and serves USGL as a Sovereign Grand Inspector General and a Bishop of EGC.
                By day, Richard is a social psychologist, biostatistician and research scientist whose 1993 doctoral dissertation examined metaphysical beliefs and experiences among occult practitioners.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/colin.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Colin Campbell</div>
              <div class="speaker-role">Colin Campbell has studied Western ceremonial magick for over 30 years, and involved in Crowley's Ordo Templi Orientis for more than 15. He is the author
                of <em>A Concordance to the Holy Books of Thelema</em>, <em>The Magic Seal of Dr John Dee, the Sigillum Dei: Emeth</em>, and <em>Of The Arte Goetia</em>. His latest book,
                <em>Thelema: An Introduction to the Life, Work, and Philosophy of Aleister Crowley</em>, addresses Crowley in three different dimensions: his life, which then informs his philosophy, known as Thelema, which then informs his practices, or practices common to practitioners of Thelema (Thelemites).</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/natan.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Natan Alexander</div>
              <div class="speaker-role">Natan Alexander is an artist and initiate and created the Star and Snake as an
                artist retreat and sanctuary. He has been an Order member for 18 years. His work focuses on the
                crossroads of ceremonial Magick, Tantra, BDSM and Tattoo Art. Follow him on IG <a href="https://www.instagram.com/natanink">@natanink</a> and on
                Fetlife at Master Heiros. When not tattooing and expanding the Star and Snake, he is often found
                tracking down rare books, cultivating medicinal plants, and traveling to ancient ruins.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/jean-michel.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Jean-Michel Cholette</div>
              <div class="speaker-role">In 2007, Jean-Michel Cholette exhibited his work in Switzerland
                alongside H.R. Giger during L’expo qui rend fou, an event that paid homage to H.P. Lovecraft.
                Cholette is also renowned for his adaptation of Patrick Senécal’s novel Les Sept Jours du talion
                (The Seven Days of Retaliation) which garnered him much praise from the author.
                Jean-Michel Cholette resides in Montreal and is active in the local art scene.
                He is noted for his participation in building the Usine 106U Gallery and can often be
                seen at Foufounes Électriques playing with his band, exhibiting his work, or regularly
                participating in live painting events.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/halo-ray.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Halo Ray</div>
              <div class="speaker-role">This performance marks the birth of a new artistic persona: Halo Ray.
                In a previous life, Halo trained and performed in ballet, gymnastics, and theater.
                More recently, she has had the honor of studying bellydance with the incomparable Aepril Schaile.
                With this incarnation, Halo intends to wed the intellect with the body, to create art as an
                exercise in embodied, intimate communication. <em>Photo: Cassie Radziewicz</em></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/ndnsn.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">N.D.N.S.N.</div>
              <div class="speaker-role">Sib. N.D.N.S.N. is an Autistic Thelemite who focuses their work on
                creating a more Thelemic society through disability justice.
                Their motto, <em>"Nihil de nobis, sine nobis"</em> means "Nothing about us without us."
                A proponent of fully-automated luxury gay space communism, they have presented on Liber OZ &amp;
                euthanasia at TOTOCON 7 in Austin, NOTOCON XI in Orlando, and at Bubastis Oasis in Dallas.
                They have also given a secular-yet-Thelemically-loaded version of the presentation at
                disability conferences in Houston, Oklahoma City, Baltimore, and Dallas.
                A former Man of Earth Delegate, they affiliate with Alombrados Oasis.
                This is their first-ever visit to New England</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/widow.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Mary Widow</div>
              <div class="speaker-role">Mary Widow is a first degree initiate and recent recipient of
                Baptism and Confirmation into the E.G.C. Mary is best known as an actress,
                singer and burlesque performer. Her decades of training in musical theatre and dance as
                well as her love of horror, the occult, and finding sexual empowerment through art led her to
                co-found Black Cat Burlesque in 2003. Black Cat Burlesque was an early pioneer of the
                Horror Burlesque genre during the Burlesque revival of the early 2000’s. Mary is now a member of
                The Slaughterhouse Society, Boston’s Queer, B-Camp, Drag &amp; Burlesque troupe.
                You may also have seen her work in the film Blood of the Tribades; in productions such as
                The Slutcracker, Revenge of the Robot Battle Nuns, or Shockheaded Peter; or as a dancer on stage
                with “Weird” Al Yankovic. Mary is a vocalist, instrumentalist and “Psychedelic Witch” in the rock
                group Walter Sickert & The Army of Broken Toys.
                <p>In her offstage life, she works in the healing arts, and is working on a holistic healing
                method that she calls “Body Alchemy”. She believes that society tells the average person that they are not worth self care,
                that they are a lump of lead. Through techniques that involve active self awareness, a variety of
                bodywork techniques and a commitment to self-care; she aims to inspire and help that person
                  realize that they are, in fact, gold.</p>
                  <p><em>Photo Credit: Jon Beckley</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/asterion.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Frater xvarnah-Asterion</div>
              <div class="speaker-role">Frater xvarnah-Asterion is an attorney in Connecticut, and an avid reader in
                both the philosophy of law, as well as diverse materials including German Ideology, Marxism, Samkhya,
                Schopenhauer, George Bataille, history of Early Antiquity, Heretical Sects of the Middle Ages,
                Aesthetics, and Romanticism.  Fr. xvarnah has served as an active member of Mithras Oasis in
                Connecticut since 2010 and is an ordained Deacon within Ecclesia Gnostica Catholica.
                He is an active Master Mason in Connecticut, and past Historian in his local Masonic Lodge.
                An avid fan of Nick Cave, drum n' bass, and new underground music, in his free time he enjoys
                painting with oil on collage; Hebrew calligraphy; and reading poetry of Comte de Lautréamont,
                M.S. Merwin, and Rimbaud, while snuggled alongside his two cats (he can be reached at:
                fr_xvarnah@mithras-oto.org)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p><em>More speakers to be announced soon!</em></p>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
