<!doctype html>
<html class="no-js" lang="">
<head>
  <% include head %>
</head>
<body class="event-bg">

  <% include header %>

  <% include banner %>

  <div class="event-speakers">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="event-title d-inline-block">Speakers</h1>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/lon.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Lon Milo DuQuette</div>
              <div class="speaker-role">Born in Long Beach, California and raised in Columbus, Nebraska, Lon was an aspiring studio musician and recording artist in the 1970s, releasing two singles and an album, Charley D. and Milo, on Epic Records. He and his partner Charles Dennis Harris (now Charley Packard), opened for Hoyt Axton, Arlo Guthrie and performed with Sammy Davis Jr. In 1972, he quit the music business and for the next 25 years he pursued his interest in mysticism, particularly the work of Aleister Crowley (1875–1947). DuQuette began writing professionally in 1988 and has since published 16 books (translated in 12 languages). A 2005 gift of a ukelele re-ignited his interest in music. Two self released CD's and a new record contract followed. In 2012, Duquette released I'm Baba Lon on Ninety Three Records, his first studio album in 40 years. He is married to his high school sweetheart, Constance Jean Duquette. They live in Costa Mesa, California and have one son, Jean-Paul.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/richard.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Richard Kaczynski</div>
              <div class="speaker-role">Richard Kaczynski is the author <em>Perdurabo: The Life of Aleister Crowley (2010)</em>, which the Times Literary Supplement deemed “the major biography to date” of the Beast. He has also written
                <em>Forgotten Templars: The Untold Origins of Ordo Templi Orientis</em> (2012), <em>The Weiser Concise Guide to Aleister Crowley</em> (2009), and the novel <em>The Billionth Monkey</em> (2015), among others.
                His writing has also appeared in anthologies such as <em>Success Is Your Proof</em> (2016), <em>Tarot in Culture</em> (2014), <em>Aleister Crowley and Western Esotericism</em> (2012), and <em>Mathematics in Popular Culture</em> (2012),
                Since 1990, he has lectured internationally on these and other topics and has been featured in the television documentaries Secrets of the Occult (2006) and Aleister Crowley: The Beast 666 (2007).
                He edits and typesets the proceedings books for the National O.T.O. Conference, is secretary of Academia Ordo Templi Orientis, and serves USGL as a Sovereign Grand Inspector General and a Bishop of EGC.
                By day, Richard is a social psychologist, biostatistician and research scientist whose 1993 doctoral dissertation examined metaphysical beliefs and experiences among occult practitioners.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row speaker">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <img src="images/speakers/colin.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="speaker-name">Colin Campbell</div>
              <div class="speaker-role">Colin Campbell has studied Western ceremonial magick for over 30 years, and involved in Crowley's Ordo Templi Orientis for more than 15. He is the author
                of <em>A Concordance to the Holy Books of Thelema</em>, <em>The Magic Seal of Dr John Dee, the Sigillum Dei: Emeth</em>, and <em>Of The Arte Goetia</em>. His latest book,
                <em>Thelema: An Introduction to the Life, Work, and Philosophy of Aleister Crowley</em>, addresses Crowley in three different dimensions: his life, which then informs his philosophy, known as Thelema, which then informs his practices, or practices common to practitioners of Thelema (Thelemites).</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p><em>More speakers to be announced soon!</em></p>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>

</body>
</html>
